<B>How to count distance to previous zero</B>

In [35]:
import pandas as pd
import numpy as np
from datetime import timedelta,date,datetime

In [36]:
df=pd.DataFrame({'X':[7,2,0,3,4,2,5,0,3,4]})

In [37]:
df['Y']=df.index.tolist()

In [38]:
zero_indexes=np.array(df[df['X']==0].index.tolist()).astype(int)

In [39]:
new_dis=np.array(df['Y'])

In [40]:
replaced_dis=[]
for i in new_dis:
    lowest_index=i
    for j in zero_indexes:
        if (i-j)>=0 and (i-j)<=lowest_index:
            lowest_index=i-j         
    replaced_dis.append(lowest_index)
replaced_dis

[0, 1, 0, 1, 2, 3, 4, 0, 1, 2]

In [41]:
df['Y']=replaced_dis

In [42]:
df

   X  Y
0  7  0
1  2  1
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.

In [43]:
def daterange(date1, date2):
    for n in range(int ((date2 - date1).days)+1):
        yield date1 + timedelta(n)

In [44]:
dates=[]
start_dt = date(2015, 1, 1)
end_dt = date(2015, 12, 31)
for dt in daterange(start_dt, end_dt):
    dates.append(dt)

In [45]:
weekdays=[dt for dt in dates if dt.strftime('%a') not in ['Sat','Sun']]

In [46]:
random_data=np.random.randn(len(weekdays))

In [47]:
s=pd.Series(data=random_data,index=pd.DatetimeIndex(weekdays))

In [48]:
s

2015-01-01    0.536514
2015-01-02   -0.958774
2015-01-05   -0.507789
2015-01-06   -0.068769
2015-01-07    0.695393
2015-01-08    0.937791
2015-01-09    1.970215
2015-01-12    0.779646
2015-01-13   -0.773760
2015-01-14   -0.453781
2015-01-15    0.453568
2015-01-16    0.385041
2015-01-19   -0.772763
2015-01-20   -1.570732
2015-01-21    0.705267
2015-01-22   -0.557355
2015-01-23    0.611301
2015-01-26   -0.215485
2015-01-27    0.950897
2015-01-28   -0.408207
2015-01-29    0.130371
2015-01-30   -1.377035
2015-02-02    0.668901
2015-02-03   -0.165014
2015-02-04   -0.102775
2015-02-05   -1.577687
2015-02-06   -0.965496
2015-02-09    0.034633
2015-02-10    1.778956
2015-02-11   -0.093984
                ...
2015-11-20   -0.864373
2015-11-23   -1.591533
2015-11-24   -1.711339
2015-11-25    0.309703
2015-11-26    0.850054
2015-11-27    0.659315
2015-11-30    1.942026
2015-12-01    1.270341
2015-12-02    1.144661
2015-12-03   -0.510925
2015-12-04    0.269006
2015-12-07    0.199264
2015-12-08    0.932025
2015-12-09    0.389346
2015-12-10   -0.809883
2015-12-11   -0.380029
2015-12-14   -0.289456
2015-12-15    0.397528
2015-12-16    0.073256
2015-12-17   -0.623036
2015-12-18   -0.343507
2015-12-21    1.728488
2015-12-22   -0.567798
2015-12-23   -1.020298
2015-12-24    0.046428
2015-12-25    1.265558
2015-12-28   -1.569432
2015-12-29    1.345156
2015-12-30    1.117669
2015-12-31    0.043141
Length: 261, dtype: float64

3) Find the sum of the values in s for every Wednesday

In [49]:
df=pd.DataFrame(s,columns=["Value"])

In [50]:
df["WeekDay"] =df.index.strftime('%A')

In [51]:
print('Sum of value in S for every Wednesday:   ',sum(df[df["WeekDay"]=='Wednesday']['Value']))

Sum of value in S for every Wednesday:    2.328150703981079

4) Average For each calendar month

In [52]:
df["Month"]=df.index.strftime('%B')

In [53]:
print("Average For each calendar month")
df.groupby('Month')[['Value']].mean()

Average For each calendar month

              Value
Month
April     -0.236050
August     0.314119
December   0.178587
February   0.047846
January    0.022343
July       0.007729
June      -0.314027
March      0.063005
May       -0.358235
November  -0.111971
October    0.064232
September -0.235711

5) For each group of four consecutive calendar months in s, find the date on which the
highest value occurred.

In [54]:
print("For each group of four consecutive calendar months in s, find the date on which the highest value occurred")
df.groupby(pd.Grouper(freq='4M'))[["Value"]].max()

For each group of four consecutive calendar months in s, find the date on which the highest value occurred

               Value
2015-01-31  1.970215
2015-05-31  2.747229
2015-09-30  3.119096
2016-01-31  1.942026